{% extends 'base.html' %}

{% block content %}
    <section class="hero">
        <div class="hero-text">
            <h1>Gourmet Mushroom Grow Kits</h1>
            <p>Grow & harvest your own mushrooms with our easy-to-use kits.</p>
            <a href="#" class="btn">Shop Now</a>
        </div>
    </section>

    <section class="featured-products">
        <h2>Featured Grow Kits</h2>
        <div class="product-grid">
            {% for product in products %}
                <div class="product-card">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                    <p>${{ product.price }}</p>
                    <a href="#" class="btn">Add to Cart</a>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="featured-products">
        <h2>Latest Course</h2>
        <div class="product-grid">
            {% for product in products %}
                <div class="product-card">
                    <img src="{{ course.image.url }}" alt="{{ course.name }}">
                    <h3>{{ course.name }}</h3>
                    <p>${{ course.price }}</p>
                    <a href="#" class="btn">Start Course</a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
