{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <h1>Gourmet Mushroom Grow Kits</h1>
        <p>Grow & harvest your own mushrooms with our easy-to-use kits</p>
        <a href="{% url 'products' %}" class="btn rounded-0">Shop Now</a>
    </div>
</section>

<!-- Featured Products Section -->
<section class="featured-products">
    <div class="row justify-content-center">
        {% for product in featured_products %}
        <div class="col-12 col-sm-6 col-md-4 mb-4 d-flex align-items-stretch">
            <div class="card product-card text-center">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">€{{ product.price }}</p>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-shop rounded-0">View Product</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    
</section>

{% endblock %}