{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="text-center mb-2">Our Grow Guide</h2>
            <hr class="w-25 mb-5">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1 py-4 px-3 px-md-5">

            {% for step in guide %}
            <div class="mb-5">
                <!-- Steps -->
                <div class="text-left mt-5 pt-4">
                    <h2 class="mb-2">{{ step.step_no }}. {{ step.guide_title }}</h2>
                    <hr>
                </div>

                <!-- Instructions -->
                <div class="row">
                    {% if step.image %}
                    <!-- Centered image container -->
                    <div class="col-12 col-md-5 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                        <img class="img-fluid" src="{{ step.image.url }}" alt="{{ step.guide_title }}">
                    </div>
                    <div class="col-12 col-md-7">
                        <p>{{ step.instructions|linebreaks }}</p>
                    </div>
                    {% else %}
                    <div class="col-12">
                        <p>{{ step.instructions|linebreaks }}</p>
                    </div>
                    {% endif %}
                </div>

            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}