{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="p-4 rounded shadow-lg text-center contact-panel text-light">
                <h2 class="mb-3 logo-font">Thanks for getting in touch!</h2>
                <hr class="mb-4">
                <p>Your message has been received & we will get back to you as soon as possible.</p>
                <div class="mt-4">
                    <a href="{% url 'products' %}" class="btn btn-shop btn-lg rounded-0 text-uppercase">
                        Return to Shop
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
